@import "antd/dist/antd.css";
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 20px 40px 20px;
}

.download-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  border-radius: 12px;
  box-shadow: 0 0 50px 10px rgb(0 0 0 / 50%);
  padding: 20px 20px 40px 20px;
}

.windows-download {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  cursor: pointer;
}

.windows-logo {
  margin-bottom: 10px;
}

.apple-download {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  cursor: pointer;
}

.apple-logo {
  margin-bottom: 10px;
}

.linux-download {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  cursor: pointer;
}

.linux-logo {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8) !important;
}

.usewebapp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  border-radius: 12px;
  box-shadow: 0 0 50px 10px rgb(0 0 0 / 50%);
  padding: 20px 20px 20px 20px;
}

.webapp-title {
  margin-right: 10px;
}

.web-button {
  bottom: 4px;
}
